In [1]:
from pymongo import MongoClient
import pandas as pd

In [4]:
client = MongoClient('localhost', 27017)

# Akses database dan koleksi
db = client['Latihan']
collection = db['Store']

# Ambil semua dokumen dari koleksi
documents = collection.find()
documents_delete = collection.delete_one({"StoreCode":1})

In [5]:
df = pd.DataFrame(list(documents))

# Tampilkan DataFrame
df

,_id,StoreKey,StoreCode,CountryName,State,OpenDate,StoreName,SquareMeters,CloseDate,Status
0,674478fbe6e03b52167e824c,10,1,Australia,Australian Capital Territory,2007-12-31 17:00:00,Contoso Store Australian Capital Territory,595.0,NaT,NaN
1,674478fbe6e03b52167e824d,20,2,Australia,Northern Territory,2008-01-11 17:00:00,Contoso Store Northern Territory,665.0,2016-07-06 17:00:00,Closed
2,674478fbe6e03b52167e824e,30,3,Australia,South Australia,2012-01-06 17:00:00,Contoso Store South Australia,2000.0,2015-08-07 17:00:00,Restructured
3,674478fbe6e03b52167e824f,35,3,Australia,South Australia,2015-12-07 17:00:00,Contoso Store South Australia,3000.0,NaT,NaN
4,674478fbe6e03b52167e8250,40,4,Australia,Tasmania,2009-12-31 17:00:00,Contoso Store Tasmania,2000.0,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...
69,674478fbe6e03b52167e8291,630,63,United States,Utah,2008-03-05 17:00:00,Contoso Store Utah,2000.0,2019-11-02 17:00:00,NaN
70,674478fbe6e03b52167e8292,650,65,United States,Washington DC,2009-12-31 17:00:00,Contoso Store Washington DC,1330.0,NaT,NaN
71,674478fbe6e03b52167e8293,660,66,United States,West Virginia,2011-12-31 17:00:00,Contoso Store West Virginia,1785.0,NaT,NaN
72,674478fbe6e03b52167e8294,670,67,United States,Wyoming,2013-12-31 17:00:00,Contoso Store Wyoming,840.0,NaT,NaN
73,674478fbe6e03b52167e8295,999999,-1,Online,Online,2009-12-31 17:00:00,Online store,NaN,NaT,NaN

In [6]:
df1 = pd.DataFrame(list(documents_delete))
df1

TypeError: 'DeleteResult' object is not iterable